* {
	box-sizing: border-box;
	font-family: consolas;
}

body {
	margin: 0;
	padding: 0;
	background-color: aqua;
}
.center{

  margin-left:150px;
  width:1226px;
  height:695px;
  margin-top:30px;
  background:rgba(0,0,0,0.5);

}

.center div table
{
  color:yellow;
  font-size:40px;
}

::placeholder
{
  color:black;
}

input[type="submit"]
{
   border:none;
   outline:none;
   font-size:27px;
   height:35px;
   color:white;
   background:blue;
   border-radius:90px;
}

input[type="submit"]:hover
{
   cursor:pointer;
    background: yellow;
    color:darkgreen;
}

a{
	text-decoration: none;
}